.DS_Store
*~
.#*
*#
app/drupal/sites/default/settings.php
app/drupal/board/cache
app/drupal/board/config.php
app/drupal/sites/default/files/.htaccess
app/drupal/sites/default/files/less
app/drupal/sites/default/files/imagecache
app/drupal/sites/default/files/simpletest
app/drupal/sites/default/files/css
app/drupal/sites/default/files/js
app/drupal/sites/default/files/resize
app/drupal/sites/default/files/ctools
app/drupal/backup
app/drupal/profiles/opensourcery_install/modules
app/drupal/profiles/opensourcery_install/themes
app/drupal/profiles/opensourcery_install/libraries
