.DS_Store
*~
.#*
*#
app/*/modules/development
app/*/modules/contrib
app/*/modules/stock
app/*/themes/doune
app/*/themes/rubik
app/*/themes/tao
app/*/themes/zen
app/*/libraries
app/shared/settings.php
app/shared/files/.htaccess
app/shared/files/less
app/shared/files/imagecache
app/shared/files/simpletest
app/shared/files/css
app/shared/files/js
app/shared/files/resize
app/shared/files/ctools
app/drupal
