.DS_Store
*~
.#*
*#
app/*/modules/contrib
app/*/modules/stock
app/*/themes/stock
app/*/libraries
app/drupal/sites/default/settings.php
app/shared/files/.htaccess
app/shared/files/less
app/shared/files/imagecache
app/shared/files/simpletest
app/shared/files/css
app/shared/files/js
app/shared/files/resize
app/shared/files/ctools
app/drupal
